/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import "~@ng-select/ng-select/themes/material.theme.css";*/
@import "~@ng-select/ng-select/themes/default.theme.css";
.echart-line-chart {
height: 3em;
width: 8em;
}
.echart-line-chart-area {
height: 50px;
}
.fix-h-292{
height:292px !important;
}
.echart-doughnut { width:150px;height:150px;margin:0 auto;}

.cwidget-scroll{
height: 260px;
overflow: auto;
scrollbar-width: none;
-ms-overflow-style: none;
}

.sidebar {
overflow-y: scroll;
scrollbar-width: none; /* Firefox */
-ms-overflow-style: none; /* IE 10+ */
}
.sidebar::-webkit-scrollbar, .cwidget-scroll::-webkit-scrollbar { /* WebKit */
width: 0px;
}
.parsley-errors-list {
list-style-type: none;
line-height: 0.9em;
padding-left: 5px;
}
.form-control,.custom-file-input{
height:auto;
}

/* Modal Popup */
a[data-toggle="modal"] {
margin: 5px;
}
.title {
color: #757575;
font-weight: bold;
}
.modal {
text-align: left;
}
.modal-content {
border: none;
border-radius: 2px;
box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
}
.modal-header{
border-bottom: 0;
padding-top: 15px;
padding-right: 26px;
padding-left: 26px;
padding-bottom: 0px;
}

.modal-body{
border-bottom: 0;
padding-top: 5px;
padding-right: 26px;
padding-left: 26px;
padding-bottom: 10px;
font-size: 15px;
}
.modal-footer {
border-top:0;
padding-top: 0px;
padding-right:26px;
padding-bottom:26px;
padding-left:26px;
}

/*hover dropdown*/
.dropbtn {
background-color: white;
color: black;
border: none;
font-size: 20px;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #ffffff;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 10px 10px;
display: block;
}

.dropdown-content a:hover {background-color: rgb(255, 255, 255);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: white;}

/*Form validators alert message*/
.alert-danger {
color: #721c24;
background-color: #f8d7da;
border-color: #f5c6cb;
top: 4px;
padding: 5px;
}

.cursor{
cursor: pointer;
}
/*row class edited with margin top*/
.row-spacing {
display: flex;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
margin-top: 1em;
}

