@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
.nerdy-pen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  margin-left: 200px;

}
.nerdy-pen__text {
  color: #fff;
  padding: 1em 2em;
  text-align: center;
  font-size: 4em;
  font-weight:200;   
}

.nerdy-pen__title {
    color: #fff;
  
    text-align: center;
    font-size: 1.2em;
    font-weight:200;   
  }
  
