<div id="wrapper custom_container">
	<div class="vertical-align-wrap">
		<div class="vertical-align-middle auth-main">
			<div class="auth-box">
				<div class="top">
					<img src="assets/images/logo1.svg" alt="Lavelle">
				</div>
				<div class="card shadow-lg">
					<div class="header">
						<!-- <p class="lead">Login to your account</p> -->
					</div>
					<div class="body">
						<form class="form-auth-small">
							<div class="form-group">
								<label for="signin-email" class="control-label sr-only">Email</label>
								<input type="email" class="form-control" [(ngModel)]="credentials.username"
									name="username" id="username" autocomplete="false" placeholder="Username">
							</div>
							<div class="form-group">
								<label for="signin-password" class="control-label sr-only">Password</label>
								<input type="password" class="form-control" [(ngModel)]="credentials.password"
									name="password" autocomplete="false" id="password" placeholder="Password">
							</div>
							<div class="form-group clearfix">
								<label class="fancy-checkbox element-left">
									<input type="checkbox">
									<span>Remember me</span>
								</label>
							</div>

							<button type="submit" class="btn btn-warning btn-lg btn-block" (click)="onSubmit()"><i
									class="fas fa-fingerprint"></i> LOGIN</button>
							<div class="bottom">
								<span class="helper-text m-b-10"><i class="fa fa-lock"></i>&nbsp;<a
										>Forgot
										password?</a></span>
							</div>

						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<section class="nerdy-pen">
	<!-- <h1 class="nerdy-pen__text">
		<img src="assets/images/logo1.svg" >
	</h1> -->
	<h1 class="nerdy-pen__text">Log Analyzer</h1>
	<h1 class="nerdy-pen__title">Ver 1.0.0</h1>
</section>