<div class="page-loader-wrapper">
  <div class="loader">
      <div class="m-t-30"><img src="../../../assets/images/logo_files/image0.png" style="width: 20%;" alt="CloudStation"></div><br>
      <h6 style="color: white;font-weight: 400;">Please wait...</h6>        
  </div>
</div>