<div id="left-sidebar" class="sidebar" (click)="sidebarclicked=true" *ngIf="sidebarVisible"
    style="overflow-y:scroll;z-index:99">
    <div class="sidebar-scroll">
        <div class="user-account">
            <img src="assets/images/user.png" class="rounded-circle user-photo" alt="User Profile Picture">
            <div class="dropdown" ngbDropdown>
                <span>Welcome</span>
                <span  class="user-name"><strong>Administrator</strong></span>
               

            </div>

            <!-- <hr>
            <ul class="row list-unstyled">
                <li class="col-4">
                    <small>Sales</small>
                    <h6>456</h6>
                </li>
                <li class="col-4">
                    <small>Order</small>
                    <h6>1350</h6>
                </li>
                <li class="col-4">
                    <small>Revenue</small>
                    <h6>$2.13B</h6>
                </li>
            </ul> -->
        </div>
        <!-- Nav tabs -->
        <!--Added if contiction to remove menu from master and sys-admin-->
        <ul class="nav nav-tabs" >
            <li class="nav-item"><a class="nav-link" [ngClass]="{'active':navTab == 'menu'}"
                    (click)="changeNavTab('menu')">Menu</a></li>
            <!-- <li class="nav-item"><a class="nav-link" [ngClass]="{'active':navTab == 'chat'}" (click)="changeNavTab('chat')"><i
                        class="icon-book-open"></i></a></li> -->
            <!-- <li class="nav-item"><a class="nav-link" [ngClass]="{'active':navTab == 'setting'}" (click)="changeNavTab('setting')">
               <i class="fad fa-palette"></i> Theme
                </a>
            </li> -->
            <!--<li class="nav-item"><a class="nav-link" [ngClass]="{'active':navTab == 'question'}" (click)="changeNavTab('question')"><i
                        class="icon-question"></i></a></li> -->
        </ul>

        <!-- Tab panes -->
        <div class="tab-content p-l-0 p-r-0">
            <!-- <div class="tab-pane" id="menu" [ngClass]="{'active':navTab == 'menu' || !navTab}">
                <nav id="left-sidebar-nav" class="sidebar-nav">
                    <ul id="main-menu" class="metismenu">
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                            [ngClass]="{'active':currentActiveMenu == 'dashboard'}">
                            <a class="has-arrow cursor" (click)="activeInactiveMenu('dashboard')"><i
                                    class="icon-home"></i>
                                <span>Dashboard</span></a>
                            <ul *ngIf="currentActiveMenu == 'dashboard'">
                                <li routerLinkActive="active" >
                                    <a [routerLink]="['/dashboard/network-wizard']">Network</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    <a [routerLink]="['/dashboard/application-wizard']">Application</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    <a [routerLink]="['/dashboard/geography-wizard']">Geography</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                        <a [routerLink]="['/dashboard/alerts-wizard']">Alerts</a></li>
                            </ul>
                        </li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                            [ngClass]="{'active':currentActiveMenu == 'manage'}">
                            <a class="has-arrow cursor" (click)="activeInactiveMenu('manage')"><i class="icon-home"></i>
                                <span>Manage</span></a>
                            <ul *ngIf="currentActiveMenu == 'manage'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    <a [routerLink]="['/manage/manage/configure']">Configure</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    <a [routerLink]="['/manage/manage/operations']">Operations</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    <a [routerLink]="['/manage/manage/settings']">Settings</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div> -->
            <div *ngIf="tooglenet" class="tab-pane" id="menu" [ngClass]="{'active':navTab == 'menu' || !navTab}">
                <nav id="left-sidebar-nav" class="sidebar-nav">
                    <ul id="main-menu" class="metismenu">
                        <li routerLinkActive="active" *ngFor="let _menuData of TempData"
                            [routerLinkActiveOptions]="{exact: true}"
                            [ngClass]="{'active':currentActiveMenu == _menuData.Title}">
                            <!-- <a class="has-arrow" (click)="activeInactiveMenu(_menuData.Title)"
                                [routerLink]="[_menuData.Path]"> -->
                            <a class="has-arrow cursor" (click)="activeInactiveMenu(_menuData.Title)">
                                <i [ngClass]="_menuData.Icon"></i>
                                <span>{{_menuData.Title | titlecase}}</span></a>
                            <ul *ngIf="currentActiveMenu ==_menuData.Title">
                                <li routerLinkActive="active"
                                    *ngFor="let _submenuData of _menuData.lstOfMainMenuWithSubMenu"
                                    [routerLinkActiveOptions]="{exact: true}">
                                    <a [routerLink]="[_submenuData.Path]">{{_submenuData.Title}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>


            <!-- <div *ngIf="tooglenet" class="tab-pane" id="menu" [ngClass]="{'active':navTab == 'menu' || !navTab}">
                <nav id="left-sidebar-nav" class="sidebar-nav">
                    <ul id="main-menu" class="metismenu">
                        <li routerLinkActive="active" *ngFor="let _menuData of menuData"
                            [routerLinkActiveOptions]="{exact: true}"
                            [ngClass]="{'active':currentActiveMenu == 'dashboard'}">
                            <a (click)="getMenuData(_menuData)" [routerLink]="[_menuData.Path]"><i
                                    [ngClass]="_menuData.Icon"></i>
                                <span>{{_menuData.Title}}</span></a>
                        </li>
                    </ul>
                </nav>
            </div> -->

            <div *ngIf="tooglemaster" class="tab-pane" id="menu" [ngClass]="{'active':navTab == 'menu' || !navTab}">
                <nav id="left-sidebar-nav" class="sidebar-nav">
                    <ul id="main-menu" class="metismenu">
                        <li routerLinkActive="active" *ngFor="let _menuMasterData of menuMaster"
                            [routerLinkActiveOptions]="{exact: true}"
                            [ngClass]="{'active':currentActiveMenu == 'dashboard'}">
                            <a (click)="getMenuData(_menuMasterData)" [routerLink]="[_menuMasterData.Path]"><i
                                    [ngClass]="_menuMasterData.Icon"></i>
                                <span>{{_menuMasterData.Title}}</span></a>
                        </li>
                    </ul>
                </nav>
            </div>


            <div *ngIf="tooglesys" class="tab-pane" id="menu" [ngClass]="{'active':navTab == 'menu' || !navTab}">
                <nav id="left-sidebar-nav" class="sidebar-nav">
                    <ul id="main-menu" class="metismenu">
                        <li routerLinkActive="active" *ngFor="let _menuSysData of menuSysadmin"
                            [routerLinkActiveOptions]="{exact: true}"
                            [ngClass]="{'active':currentActiveMenu == 'dashboard'}">
                            <a (click)="getMenuData(_menuSysData)" [routerLink]="[_menuSysData.Path]"><i
                                    [ngClass]="_menuSysData.Icon"></i>
                                <span>{{_menuSysData.Title}}</span></a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- <div *ngIf="toogleUser" class="tab-pane" id="menu" [ngClass]="{'active':navTab == 'menu' || !navTab}">
                <nav id="left-sidebar-nav" class="sidebar-nav">
                    <ul id="main-menu" class="metismenu">
                        <li routerLinkActive="active" *ngFor="let _menuUserData of menuUserData"
                            [routerLinkActiveOptions]="{exact: true}"
                            [ngClass]="{'active':currentActiveMenu == 'dashboard'}">
                            <a (click)="getMenuData(_menuUserData)" [routerLink]="[_menuUserData.Path]"><i
                                    [ngClass]="_menuUserData.Icon"></i>
                                <span>{{_menuUserData.Title}}</span></a>
                        </li>
                    </ul>
                </nav>
            </div> -->

            <div *ngIf="toogleUser" class="tab-pane" id="menu" [ngClass]="{'active':navTab == 'menu' || !navTab}">
                <nav id="left-sidebar-nav" class="sidebar-nav">
                    <ul id="main-menu" class="metismenu">
                        <li routerLinkActive="active" *ngFor="let _menuData of menuUserData"
                            [routerLinkActiveOptions]="{exact: true}"
                            [ngClass]="{'active':currentActiveMenu == _menuData.Title}">
                            <a class="has-arrow" (click)="activeInactiveMenu(_menuData.Title)"
                                [routerLink]="[_menuData.Path]"><i [ngClass]="_menuData.Icon"></i>
                                <span>{{_menuData.Title | titlecase}}</span></a>
                            <ul *ngIf="currentActiveMenu ==_menuData.Title">
                                <li routerLinkActive="active"
                                    *ngFor="let _submenuData of _menuData.lstOfMainMenuWithSubMenu"
                                    [routerLinkActiveOptions]="{exact: true}">
                                    <a [routerLink]="[_submenuData.Path]">{{_submenuData.Title}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>