<div class="container-fluid">
    <div class="block-header sticky-top headerFixed ">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <h2>
                    Upload
                </h2>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12 text-right">

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <label for="">Upload Zip File</label>
        <input type="file" class="form-control" >
        <button class="btn btn-primary" (click)="SubmitZipFile($event)">Submit</button>
    </div>
</div>