.mt15 {margin-top: 15px;}
.mb30 {margin-bottom: 30px;}
.m-remove {margin: 0 !important;}
.spacer1 {height: 10px;}
.spacer2 {height: 20px;}
.spacer3 {height: 30px;}
.spacer4 {height: 40px;}
iframe, img {max-width: 100%;border: 0;vertical-align: middle;}
.tc-button {display: inline-block;padding: 7px 15px;background-color: #fff;-webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);color: #666;}
.tc-button:hover, 
.tc-button:focus {color: #444;}
.tab-content ul {padding-left: 20px;list-style-type: circle;display: inline-block;}
[class*="tc-tabs-"] .nav-tabs {border: 0;}
.contact ul {list-style-type: none;padding-left: 0;}
.contact ul li i {margin-right: 6px;}
.contact ul li + li {padding-top: 6px;margin-top: 6px;border-top: 1px solid rgba(0, 0, 0, 0.1);}
.contact h3 {margin-bottom: 15px;}
[class*="tc-tabs-"] .nav-tabs li i {margin-right: 6px;}
[class*="tc-tabs-"].tc-tabs-right .nav-tabs li i, 
[class*="tc-tabs-"].tc-tabs-v-right .nav-tabs li i {margin-right: 0px;margin-left: 6px;}
[class*="tc-tabs-"].tc-tabs-right .nav-tabs li i.fa-play, 
[class*="tc-tabs-"].tc-tabs-v-right .nav-tabs li i.fa-play {-webkit-transform: rotate(180deg);transform: rotate(180deg);}
.tc-tabs-style4 {padding: 20px;border-radius: 5px;}
.tc-tabs-style4 .nav-tabs li a {position: relative;padding: 8px 15px;background-color: rgba(42, 42, 42, 0.05);color: #666;border-radius: 5px;display:  inline-block;margin: 0 15px 25px 0;}
.tc-tabs-style4 .nav-tabs li a.active {background: #efa74e;color: #fff;}
.tc-tabs-style4 .nav-tabs li a.active:before {position: absolute;content: '';left: 12px;bottom: -14px;border: 7px solid transparent;border-top-color: #444;}
.tc-tabs-style4 .tab-content {padding-top: 25px;border-top: 3px solid rgba(68, 68, 68, 0.06);position:  relative;z-index: 10;}
.tc-tabs-style4.tc-tabs-center .nav-tabs li a.active:before {left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);}
.tc-tabs-style4.tc-tabs-right .nav-tabs li a {margin: 0 0 25px 15px;}
.tc-tabs-style4.tc-tabs-right .nav-tabs li a.active:before {left: auto;right: 12px;}
.tc-tabs-style4.tc-tabs-v-left .tab-content {padding-left: 35px;padding-top: 0;border-top: 0;border-left: 3px solid rgba(68, 68, 68, 0.06);}
.tc-tabs-style4.tc-tabs-v-left .nav-tabs li a {margin-right: 8px;}
.tc-tabs-style4.tc-tabs-v-left .nav-tabs li a.active:before {left: auto;right: -14px;bottom: 50%;border: 7px solid transparent;border-left-color: #444;transform: translateY(50%);}
.tc-tabs-style4.tc-tabs-v-right .nav-tabs li a {margin-right: 0;}
.tc-tabs-style4.tc-tabs-v-right .nav-tabs li a.active:before {left: -14px;bottom: 50%;border: 7px solid transparent;border-right-color: #444;transform: translateY(50%);}
.tc-tabs-style4.tc-tabs-v-right .tab-content {padding-right: 35px;padding-top: 0;border-top: 0;border-right: 3px solid rgba(68, 68, 68, 0.06);}



@media (max-width: 991px) {
    [class*="tc-tabs-v-"] > .row > .col-3 {-ms-flex: 0 0 34%;flex: 0 0 34%;max-width: 34%;}
    [class*="tc-tabs-v-"] > .row > .col-9 {-ms-flex: 0 0 66%;flex: 0 0 66%;max-width: 66%;}
}

@media (max-width: 767px) {
    [class*="tc-tabs-v-"] > .row > [class*="col-"] {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
    [class*="tc-tabs-v-"] > .row > .col-9 {-moz-order: 2;-webkit-order: 2;order: 2;}
    .tc-tabs-v-right .nav-tabs {align-items: flex-end;justify-content: flex-end;}
    .tc-tabs-v-left .nav-tabs li a, 
    .tc-tabs-v-right .nav-tabs li a {display: inline-block;}
	.flex-column {-ms-flex-direction: initial !important;flex-direction: initial !important;}
    .tc-tabs-style4.tc-tabs-v-left .tab-content, 
    .tc-tabs-style4.tc-tabs-v-right .tab-content {padding-top: 25px;border-top: 3px solid rgba(68, 68, 68, 0.06);border-left: 0;border-right: 0;padding-left: 0;padding-right: 0;}
    .tc-tabs-style4[class*="tc-tabs-v-"] .nav-tabs li a.active:before {left: 12px;right: auto;bottom: -14px;transform: translateY(0);border: 7px solid transparent;border-top-color: #444;}
    .tc-tabs-style4.tc-tabs-v-right .nav-tabs li a.active:before {left: auto;right: 12px;}
    .tc-tabs-style4.tc-tabs-v-right .nav-tabs li a, 
    .tc-tabs-style6.tc-tabs-v-right .nav-tabs li a {margin-left: 15px;}
    .tc-tabs-style5.tc-tabs-v-left > .row > .col-9 {padding-left: 15px;}
    .tc-tabs-style5.tc-tabs-v-left > .row > .col-3 {padding-right: 15px;}
    .tc-tabs-style5.tc-tabs-v-right > .row > .col-3 {padding-left: 15px;}
    .tc-tabs-style5.tc-tabs-v-right > .row > .col-9 {padding-right: 15px;}
    .tc-tabs-style5.tc-tabs-v-right .nav-tabs li:last-child a, 
    .tc-tabs-style5.tc-tabs-v-left .nav-tabs li:last-child a {border-bottom: 0;}
    .tc-tabs-style6.tc-tabs-v-left .nav-tabs li a {margin-right: 15px;}
    .tc-tabs-style7.tc-tabs-v-left .nav-tabs li a {margin-right: 25px;}
    .tc-tabs-style7.tc-tabs-v-right .nav-tabs li a {margin-left: 25px;}
    .tc-tabs-style8 .tab-content {border-top: 0;padding: 0;}
    .tc-tabs-style8 .nav-tabs li a {margin-bottom: 25px !important;text-align: center !important;}
    .tc-tabs-style11.tc-tabs-v-right .nav-tabs li a, 
    .tc-tabs-style13.tc-tabs-v-right .nav-tabs li a, 
    .tc-tabs-style12.tc-tabs-v-right .nav-tabs li a, 
    .tc-tabs-style15.tc-tabs-v-right .nav-tabs li a, 
    .tc-tabs-style17.tc-tabs-v-right .nav-tabs li a {margin-right: 0;margin-left: 15px;}
    .tc-tabs-style14.tc-tabs-v-right .nav-tabs li a, 
    .tc-tabs-style16.tc-tabs-v-right .nav-tabs li a {margin-right: 0;margin-left: 25px;}
    .tc-tabs-style18.tc-tabs-v-right .nav-tabs li a {margin-right: 0;margin-left: 20px;}
}

@media (max-width: 480px) {
    [class*="tc-tabs-style"] .nav-tabs {display: block;}
    [class*="tc-tabs-style"] .nav-tabs li a {display: block;margin-left: 0 !important;margin-right: 0 !important;}
    .tc-tabs-style2 .nav-tabs li a {width: 96%;}
    .tc-tabs-style2.tc-tabs-right .nav-tabs li a {margin: 0 20px 20px 14px !important;text-align: right;}
    .tc-tabs-style2.tc-tabs-v-right .nav-tabs li a {width: auto;}
    .tc-tabs-style3.tc-tabs-v-right .nav-tabs li a, 
    .tc-tabs-style4.tc-tabs-right .nav-tabs li a, 
    .tc-tabs-style4.tc-tabs-v-right .nav-tabs li a, 
    .tc-tabs-style6.tc-tabs-v-right .nav-tabs li a {margin-left: 0}
    .tc-tabs-style4.tc-tabs-v-left .nav-tabs li a, 
    .tc-tabs-style6.tc-tabs-v-left .nav-tabs li a {margin-right: 0;}
    .tc-tabs-style7.tc-tabs-v-right .nav-tabs li a {margin-left: 7px;}
    .tc-tabs-style7.tc-tabs-v-left .nav-tabs li a {margin-right: 7px;}
    .tc-tabs-style7.tc-tabs-right .nav-tabs li a {margin-left: 0;}
    .tc-tabs-v-right.tc-tabs-style7 .nav-tabs li a i {right: -12px;left: auto;}
    .tc-tabs-v-left.tc-tabs-style7 .nav-tabs li a i {left: -12px;right: auto;}
    .tc-tabs-style9.tc-tabs-right .nav-tabs li a {text-align: center;}
}