.navbar-fixed-top .navbar-logo img {
  width: 120px !important;
  vertical-align: top;
  margin-top: 2px;
}

@media (max-width: 1200px) {
.navbar-brand{
display: none;
}
}
@media (max-width: 760px) {
.wd{
width: 305px;
}
}
@media (min-width: 1201px) {
.navbar-brand{
display: block;
}

.modal-scroll{
height:500px;
overflow-y:scroll;
}
}

.mdl-bg-color{
background: #ffa751;
color: black;
}

.lbl-info{
  background-color: #ffa751;
  color: #fff;
  padding: 2px 10px;
  border-radius: 4px;
}
.mdl-ht{
overflow-y: scroll;
height:500px
}
.accordicon{
display: none;
}
@media (max-width: 768px) {
.btn-apr{
  width: 250px;
}
.wd-icon{
  width: 40%;
}
.navbar-nav ul.user-menu{
  right: 160px !important;
  top: 150px !important;
}
.accordicon{
  display: block;
}
.wd{
  margin-top: 15px;
  margin-bottom: 10px;
}
}
.dp-mn-clr{
color: #ffa851;
}
