<nav class="navbar navbar-fixed-top" style="z-index: 999;">
    <div class="container-fluid">
        <div class="navbar-btn">
            <button type="button" class="btn-toggle-offcanvas" (click)="toggleSideMenu()"><i
                    class="lnr lnr-menu fa fa-bars "></i></button>
        </div>
        <!--Added if condition to remove toggle view from master and sys-admin-->
        <div class="navbar-brand" >
            <a href="javascript:void(0);" (click)="toggleFullWidth()">
                <i class="fas fa-bars text-dark" data-toggle="tooltip" data-html="true" title="Expand"
                    *ngIf="sidebarVisible" style="font-size: 20px;"></i>
                <i class="fas fa-bars text-dark" data-toggle="tooltip" data-html="true" title="Collapse"
                    *ngIf="!sidebarVisible" style="font-size: 20px;"></i>
            </a>
        </div>
        <div class="navbar-logo">
            <img src="assets/images/logo1.svg" alt="Cloud Station" class="img-responsive logo">
          

        </div>

        <div class="navbar-right collapse show" id="collapseExample">
            <div id="navbar-menu" class="wd">
                <ul class="nav navbar-nav">
                    <li class="dropdown wd-icon" style="z-index: 999999;">
                        <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                            <i class="fas fa-cog"></i></a>
                        <ul class="dropdown-menu user-menu menu-icon">
                            <!-- <li><a href="javascript:void(0);"><i class="fas fa-user"></i> <span>Profile</span></a></li> -->
                            <li><a href="javascript:void(0);"><i class="fal fa-info-circle"></i> <span>About</span></a>
                            </li>
                            <li><a href="javascript:void(0);" (click)="logout()"><i class="icon-logout"></i>
                                    <span>Log Out</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <a class="accordicon my-3" data-toggle="collapse" (click)="hideshow()" href="#collapseExample" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            <i class="fas fa-2x fa-chevron-circle-left cursor dp-mn-clr" [ngStyle]="{'display':lefticon}"></i>
            <i class="fas fa-2x fa-chevron-circle-down cursor dp-mn-clr" [ngStyle]="{'display': downicon}"></i>
        </a>
    </div>
</nav>