.blinking{
    animation:blinkingText 1.5s infinite;
}
@keyframes blinkingText{
    0%{}
    49%{color: transparent;}
    50%{color: transparent;}
    99%{color:transparent;}
    100%{}
}

.ngx-pagination .current {
  border-radius: 20px !important;
}

.card .header h2 {
  font-weight: 800;
}

//scroll to top

.scroll {
  background: black;
  color: white;
  padding: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 999;
}

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.show-scroll {
    opacity: 1;
}





// @mixin vertical-align($position) {
//   position:$position;
//   top: 50%;
//   -webkit-transform: translateY(-50%);
//   -ms-transform: translateY(-50%);
//   transform: translateY(-50%);
// }

// @mixin all-transition($time)
// {
// 	transition: all $time;
// 	-webkit-transition: all $time;
// }
// body
// {
// 	margin: 0;
//   font-family: 'Muli', sans-serif;
// }
// .menu1 {

// 	font-weight: 100;
// 	background: #efefef;
// 	width: 150px;
// 	height: 100%;
// 	padding-left: 50px;
// 	position: fixed;
// 	z-index: 100;
// 	-webkit-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
// 	box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
// 	right: -130px;
// 	@include all-transition(0.3s);
// 	color: #222;

// 	&:hover, &:focus
// 	{
// 		transform: translate3d(-130px, 0, 0);
// 		animation-timing-function: 1s ease-in;
// 	}
// 	.title1
// 	{
// 		top:50%;
// 		@include vertical-align(absolute);
// 		transform: rotate(270deg);
// 		left: 10px;
// 		font-weight: 800;
// 		font-size: 15px;

// 	}
// 	.textMenu
// 	{
// 		@include vertical-align(absolute);
//     font-weight: 100;

// 		li
// 		{
// 				padding-bottom: 30px;
// 				list-style-type: none;

// 				a
// 				{
// 					display: block;
// 					text-decoration: none;
// 					color: inherit;
// 					@include all-transition(0.3s);

// 					&:hover
// 					{
// 						color: #aaa;
// 					}
// 				}
// 		}


// 	}


// }
// .intro
// {
// 	position: absolute;
// 	top:30%;
// 	margin: 0 auto;left:0;right:0;
// 	font-size: 45px;
// 	text-align: center;
//    font-style: italic;

// }
